@charset "utf-8";
/* 
  pink : #FFB7CA
  navy : #223055
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
  color: #223055;
  margin:0 auto;
  padding:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

#wrapper{
  width:100%;
}

section{
  margin-bottom:176px;
}
section h2{
  font-size:64px;
}

/* header */
header{
  width:100%;
  height:920px;
  position:relative;
}
.main1Background{
  width:100%;
  z-index: -2;
  position:absolute;
  top:0;
  height:920px;
  background: url(img/NCT127BackgroundImage.jpg) no-repeat center/cover;
}

.main1Mobal{
  width:100%;
  height:920px;
  background-color: rgba(0,0,0,0.6);
  z-index:-1;
  position:absolute;
  top:0;
}
header #headerWrapper{
  width:100%;
  height:120px;
  border-bottom:solid 2px #fff;

}
header h1 {
  width:164px;
  height:100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-right:solid #fff 2px;
  cursor:pointer;
}

header h1 a img{
  width:90px;
  height: 64px;
}


header nav{
  float:right;
  height:100%;
}
header nav ul{
  color:#fff;
  height:100%;
  display: flex;
  justify-content: center;
}
header nav ul li{
  width:138px;
  border-left: solid #fff 2px;
  display: flex;
  align-items: center;
  cursor:pointer;
}
header nav ul li a{
  color:#fff;
  font-size:20px;
}
header nav ul li:hover a{
  color: #FFB7CA;
}

header nav ul li:last-child{
  display: none;
}

/* main */
main{
  width:1520px;
}

/* main1 */
#main1{
  width:1520px;
  z-index: 10;
  position:absolute;
  top:300px;
  background-color: rgba(0, 0, 0, 0);
}
#main1 b{
  font-size:116px;
  color:#FFB7CA;
}
#main1 .main1img1{
  display: inline-block;
  width:720px;
  height:120px;
  background: url(img/jaehyunMain1Text.jpg) no-repeat center/cover;
  background-position:center 25%;
  margin-left:21px;
}
#main1 .main1img2{
  display: inline-block;
  width:400px;
  height:120px;
  background: url(img/minhoMain1Text.jpg) no-repeat center/cover;
  background-position:center 18%;
  margin:0 12px 0 14px;
}
#main1 .main1img3{
  display: inline-block;
  width:648px;
  height:120px;
  background: url(img/minho2Main1Text.jpg) no-repeat center/cover;
  background-position:center 95%;
  margin:0 11px 0 13px;
}

/* main2 intro */
#main2{
  margin-top:176px;
}

#main2 video{
  height:650px;
  object-fit: cover;
}
#main2 h2{
  margin-left:30px;
}
#main2 #main2Text{
  display: inline-block;
  margin-left:680px;
  overflow:hidden;
  width:100%;
}
#main2 #main2TextSlider{
  width:100%;
  width:844px;
  height:340px;
  overflow: hidden;
  border: 2px solid #1b58ff;
  border-radius:200px;
  padding:60px 100px;
  margin-top:30px;
}
#main2 #main2TextSliderWrap{
  display: flex;
  width:320%;
  transition:transform 1s ease-in-out;
}
#main2 #main2TextSliderWrap .slider{
  margin-right:100px;
}
#main2 #main2TextSlider b{
  font-size:32px;
}
#main2 #main2TextSlider p{
  font-size:20px;
  margin-top: 25px;
}



#main2 #main2TextSlider #main2Indicator{
  width:130px;
  height:4px;
  margin-right:0px;
  margin-top:20px;
  background-color: #c3c3c3;
  transform: translateX(-50%);
}
#main2 #main2TextSlider #main2Indicator #main2IndiMove{
  width:33.3%;
  height:100%;
  background-color: #333;
  margin-left:0;
  transition: transform 1s ease-in-out;
}

#main2 #main2Background1{
  width:100%;
  height:500px;
  background: linear-gradient(to right, #FFB7CA, #ffffff);;
  z-index:-2;
  position: absolute;
  left:0;
  top:1750px;
}
#main2 #main2Background2{}


/* main3 */
#main3{
  padding:100px 170px 10px;
}
#main3 h2{
  color:#FFB7CA;
}
#main3 #main3Background{
  width:100%;
  height:864px;
  background: #223055;
  z-index: -2;
  position:absolute;
  left:0;
  top:2390px;
}
#main3 b{
  width:1700px;
  font-size: 230px;
  z-index: -1;
  color: #FFB7CA;
  opacity: 0.3;
}
#main3 .main3Content{
  margin-bottom: 210px;
}
#main3 .main3Content #main3Svg{
  width:1150px;
  height:480px;
  background-color: antiquewhite;
  margin:30px auto; 
}
#main3 .main3Content #main3Text{
  display: flex;
  float: right;
  border-bottom:2px solid #FFB7CA;
}
#main3 .main3Content #main3Text p{
  font-size:32px;
  color: #fff;
}
#main3 .main3Content #main3Text img{
  margin-left:340px;
}
#main3 .main3Content:nth-child(3),#main3 .main3Content:nth-child(4){
  display: none;
}


/* main4 */
#main4{}
#main4 h2{
  width:760px;
  margin-right:0;
}
#main4 #main4Content{
  
}
#main4 #main4Content #main4Tab{
  display: flex;
  width:762px;
  height:70px;
  margin-right:0;
}
#main4 #main4Content #main4Tab li{
  border:2px solid #223055;
  border-radius: 35px;
  padding:26px 45px;
  font-size:24px;
  line-height:15px;
  cursor:pointer;
  font-weight: 800;
  margin:0;
}
#main4 #main4Content #main4Tab li:first-child{
  background-color: #FFB7CA;
}
#main4 #main4Content #main4Tab li:hover{
  background-color: #FFB7CA;
}

#main4 #main4Content .main4Slider{
  margin-top:40px;
}
#main4 #main4Content #main4First .main4SliderLogo{
  width:278px;
  height:278px;
  background-color: #c3c3c3;
  margin-right:485px;
  border:2px solid #223055;
  border-radius:50%;
  background: url(img/SMclassics.png)no-repeat center/cover;
  background-position:45% center;
}
#main4 #main4Content #main4First .main4SliderImage{
  width:760px;
  height:280px;
  background: url(img/SMclassicsIMG.jpg) no-repeat center/cover;
  border: 2px solid #223055;
  border-radius: 140px;
  margin-left:0;
}
#main4 #main4Content .main4Slider p{
  width:762px;
  height:218px;
  font-size:20px;
  border:2px solid #223055;
  border-radius: 140px;
  padding:40px 80px;
  margin-right:0;
  margin-top:24px;
}





/* main5 */
#main5{
  background-color: burlywood;
}





/* main6 */
#main6{
}
#main6 h2{
  width:760px;
  margin-left:0;
  margin-bottom:50px;
  text-align: right;
}

#main6 #main6Left{
  display: flex;
}
#main6 #main6LeftDiv{
  width:760px;
  height:140px;
  display:flex;
  border: 2px solid #223055;
  border-radius: 70px;
  padding:50px 120px; 
  margin-left:0;
}
#main6 #main6LeftDiv p:nth-child(1){
  display:inline;
  width:96px;
  font-size:24px;
}
#main6 #main6LeftDiv p:nth-child(2){
  display:inline-block;
  font-size:36px;
  font-weight: 800;
}

#main6 #main6Right{
  width:620px;
  height:140px;
  background-color: #FFB7CA;
  border:2px solid #223055;
  border-radius: 70px;
  padding:20px 144px;
  margin-right:140px;
}
#main6 #main6Right b:nth-child(1){
  display:inline;
  width:96px;
  font-size:64px;
  margin-right: 20px;
}
#main6 #main6Right b:nth-child(2){
  display:inline-block;
  font-size:24px;
  color: rgb(255, 24, 24);
}
#main6 #main6Circle{
  width:140px;
  height:140px;
  border:2px solid #223055;
  border-radius: 50%;
  margin-right:0;
}

/* footer */
#footer{
  width:100%;
  height:435px;
  background-color: #111;
  color:#fff;
  display: flex;
}

#footer #smLogo{
  width:19.31%;
  height:39.08%;
  padding:50px;
  display: flex;
}
#footer #smLogo img{
  width:98px;
  height:70px;
  margin:0;
}
#footer #smLogo p{
  color:#fff;
  font-size:20px;
  margin-right:0;
  margin-left:14px;
}




#footer #SNSIcon{
  width:17.71%;
  height:24.83%;
  padding:40px 50px;
  text-align: center;
}
#footer #SNSIcon ul{
  display: flex;
}

#footer #contact{
  width:22.2%;
  height:39.08%;
  display: flex;
  padding:43px 50px;
  background-color: #FFB7CA;
}
#footer #contact p{
  color:#fff;
  margin:0;
  font-size:16px;
  font-weight: 800;
}
#footer #contact ul{
  margin:0;
  margin-left:50px;
}
#footer #contact ul li {
}
#footer #contact ul li a{
  color:#fff;
}





#footer #famlan{
  width:16.41%;
  height:144px;
}
#footer #famlan #familysite{
  width:100%;
  height:65%;
  color:#fff;
}
#footer #famlan #language{
  width:100%;
  height:80px;
}
#footer #famlan #language p{
  color:#fff;
}
#footer #famlan #language ul li{}
#footer #privacy{
  width:24.38%;
}








