@charset "utf-8";
@media (max-width: 788px) {
  
  #wrapper{
    width:100vw;
    min-width:347px;
    max-width: 360%;
    width:100%;
  }
  main section > div{
    width:310px;
  }

  #artist .arrow{
    width:30px;
    height:30px;
  }
  /* header */
  header{
    height:720px;
  }
  header #headerWrapper{
    height:48px;
    border-bottom:solid 0.5px #fff;
  }
  header h1 {
    width:63px;
    border-right:solid #fff 0.5px;
  }
  header h1 a img{
    width:40px;
    height: 28px;
  }
  header nav ul li{
    width:75px;
    border-left: solid #fff 0.5px;
  }
  header nav ul li a{
    font-size:18px;
  }

  .visualMobal{
    height:770px;
  }

/* visual */
  #visual{
    width:310px;
    top:234px;
  }
  #visual b,#visual>div b:nth-child(11),    #visual>div b:nth-child(12){
    font-size:54px;
  }
  #visual *, #visual b{
    line-height: 38px;
  }
  #visual .visualimg1{
    width:240px;
    height:50px;
    margin-left:10px;
  }
  #visual .visualimg2{
    width:100px;
    height:50px;
    margin:0 0 0 8px;
  }
  #visual .visualimg3{
    width:158px;
    height:50px;
    margin:0;
  }
  #visual>div b:nth-child(7){
    margin-left:64px;
  }
  #visual>div b:nth-child(8), #visual>div b:nth-child(11), #visual>div b:nth-child(9),#visual>div b:nth-child(10){
    display: none;
  }
  #visual>div b:nth-child(11),    #visual>div b:nth-child(7),    #visual>div b:nth-child(6){
    display: inline-block;
  }
  #visual>div b:nth-child(11){
    margin-left:9px;
  }

/* intro */
#intro{
  margin-top:150px;
}
#intro #smlogoMotion{
  width:300px;
  margin-left:00px;
}
#intro h2{
  margin:20px 0px -20px 80px;
}
#intro #introText{
  width:100%;
}
#intro .introTextSlider{
  width:100%;
  border: 1px solid #223055;
  border-radius:30px;
}
#intro #introTextSliderWrap .slider{
  padding:22px 32px;
}
#intro .introTextSlider b{
  font-size:22px;
}
#intro .introTextSlider p{
  font-size:16px;
  margin-top: 20px;
}
#intro .introTextSlider #introIndicator{
  width:100px;
  margin-top:0px;
  margin-right:32px;
}

/* artist */
#artist #artistBackground{
  padding:90px 0px;
  height:100%;
}
#artist .artistContent{
  width:310px;
}
#artist .artistContent #artistSvg{
  width:310px;
  height:130px;
  margin:50px 30px 10px;
}
#artist .artistContent:nth-child(2),#artist .artistContent:nth-child(3){
  display: flex;
}
#artist .artistContent #artistText{
  padding-bottom: 5px;
  border-bottom: 1px solid #FFB7CA;
}
#artist .artistContent #artistText p{
  font-size:18px;
}
#artist .artistContent #artistText img{
  margin-left:44px;
}
#artist b{
  font-size: 140px;
  opacity: 0.3;
}
#artist b:nth-child(2){
  top:35%;
}
#artist b:nth-child(3){
  top:70%;
  animation: moveLeft2 18s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform:translateY(-50%) translateX(-50%); 
  }
  100% {
    transform:translateY(-50%) translateX(-75%); 
  }
}
@keyframes moveLeft2 {
  0% {
    transform:translateY(-50%) translateX(-30%); 
  }
  100% {
    transform:translateY(-50%) translateX(-55%); 
  }
}

/* incompany */
#incompany h2{
  width:320px;
}
#incompany #incompanyContent #incompanyTab{
  width:50%;
}
#incompany #incompanyContent #incompanyTab li{
  border:1px solid #223055;
  font-size:16px;
  padding:10px;
}
#incompany #incompanyContent #incompanyFirst .incompanySliderLogo{
  width:106px;
  height:105px;
  border:1px solid #223055;
  margin-right:0;
  margin-bottom:-1px;
}
#incompany #incompanyContent #incompanyFirst .incompanySliderImage{
  width:204px;
  height:204px;
}
#incompany #incompanyContent .incompanySlider{
  margin-top:33px;
}
#incompany #incompanyContent .incompanySlider p{
  width:310px;
  height:170px;
  font-size:14px;
  padding:20px 22px;
  border-radius: 20px;
  border:1px solid #223055;
}

/* news */
#news{
  width:100%;
}
#news h2{
  margin-bottom: 30px;
}
#news #newsContent{
  flex-direction: column;
}
#news #newsContent #newsinnerContent{
  width:100%;
  display: flex;
  flex-direction: column;
}
#news #newsContent .newsImg img{
  border-bottom-right-radius: 30px;
}
#news #newsContent #newsText,#news #newsContent:nth-child(odd) #newsText{
  width:310px;
  min-width: 310px;
  margin:50px auto 90px;
}
#news #newsContent #newsText p:nth-child(3){
  font-size:18px;
  line-height: 26px;
  margin-bottom: 20px;
}
#news #newsContent #newsText p:nth-child(4){
  width:100%;
  height: 38px;
  font-size: 16px;
  line-height: 18px;
}
#news #newsContent #arrowBox {
  width:150px;
  height: 28px;
  border-bottom: 2px solid #FFB7CA;
  top:0px;
}
#news #newsContent #arrowBox .arrow{
  width:24px;
  height:24px;
}
#news  #newsContent #newsText #pinkbox{
  height:14px;
  top:40px;
}
#news #newsContent .newsImg{
  width:90%;
  max-width:310px;
  min-width:200px;
}
#news #newsContent:nth-child(odd) .newsImg img{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
}

/* summary */
#summary div{
  width:100%;
}
#summary>div #summaryWrapper{
  width:310px;
}
#summary h2{
  width:200px;
  margin-left: 110px;
  margin-bottom: 30px;
}
#summary #summaryLeftDiv{
  width:40%;
  height:40px;
  border: 1px solid #223055;
  padding:5px 10px; 
  margin-right:0;
  margin-bottom:1px;
}

#summary #summaryLeftDiv p:nth-child(2){
  font-size:14px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
}
#summary #summaryRight{
  width:60%;
  border: 1px solid #223055;
  height: 60px;
  margin-right:0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
}
#summary #summaryRight b:nth-child(1){
  display: inline-block;
  width: 100%;
  font-size: 26px;
  line-height: 60px;
  margin: 6px 0px;
}
#summary #summaryRight b:nth-child(2){
  display: inline-block;
  font-size: 14px;
  position: absolute;
  top:4px;
  right:50px;
}
#summary #summaryCircle2Box{
  width:40%;
}
#summary #summaryCircle2{
  width:40px;
  height: 40px;
  margin-top:1px;
  border:1px solid #223055;
}
#summary #pinkBox{
  width:58.5%;
  height:59px;
  bottom:39px;
}

/* footer */
#footer{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
}
#footer #footerFirst{
  width:100%;
  height:270px;
  flex-direction: column;
}
#footer #footerSecond{
  height:240px;
}
#footer div{
  border:none;
}
#footer #footerFirst #smLogo{
  width:100%;
  height:60px;
  border-bottom: 1px solid #fff;
  border-right: none;
  flex-direction: row;
}
#footer #smLogo img{
  width:50px;
  min-width: 20px;
}
#footer #smLogo p{
  font-size: 16px;
}

#footer #SNSIcon{
  width:100%;
  height:80px;
  padding:34px 10px;
  margin: 0;
  border:none;
  border-bottom:1px solid #fff;
}
#footer #SNSIcon ul{
  width:80%;
  height:100%;
}
#footer #footerFirst #contact{
  width:100%;
  border:none;
  border-bottom: 1px solid #fff;
  margin:0;
}

#footer #famlan{
  width:100%;
  border:none;
  margin: 0;
}
#footer #famlan #familysite{
  border:none;
  border-bottom:1px solid #fff;
}
#footer #famlan #language{
  border:none;
  border-bottom:1px solid #fff;
}
#footer #privacy{
  width:100%;
  border:none;
  margin:0;
  padding-bottom:10px;
}

/* line */
/* menu */
#header .lineLeft .centerBox{
  width:6px;
  height:6px;
  background-color: rgb(0, 0, 0);
  top:45px;
  left:60px;
}
#header .lineLeft2 .centerBox:nth-child(1){
  left:-3px;
}
#header .lineLeft2 .centerBox:nth-child(2),
#header .lineLeft2 .centerBox:nth-child(3),
#header .lineLeft2 .centerBox:nth-child(4){
  display: none;
}

/* intro */
#intro .lineLeft::after,#intro .lineLeft::before{
  height:1px;
}
#intro .lineLeft .centerBox{
  width:6px;
  height:6px;
  top:26px;
  left:-3px;
}
/* incompany */
#incompany .lineLeft::after,#incompany .lineLeft::before{
  width:160px;
  height:1px;
}
#incompany .lineLeft::after{
  top:130px;
  left:203px;
}
#incompany .lineLeft::before{
  top:104px;
  left:100px;
}
#incompany .lineLeft .centerBox{
  top:102px;
  left:200px;
  width:6px;
  height:6px;
}

#incompany .lineLeft2::after{
  width:360px;
  top:280px;
  left:1px;
}
#incompany .lineLeft2::before{
  width:500px;
  top:344px;
  left:-480px;
}
#incompany .lineLeft2 .centerBox{
  top:342px;
  left:-2px;
}
/* news */
#news .lineLeft::after,#news .lineLeft::before{
  width:100px;
  height:1px;
  top:230px;
  left:309px;
}
#news .lineLeft::before{
  top:205px;
  left:280px;
}
#news .lineLeft .centerBox{
  width:6px;
  height:6px;
  background-color: rgb(255, 255, 255);
  top:202px;
  left:306px;
}
#news .lineLeft2::after{
  top:240px;
  left:-99px;
}
#news .lineLeft2::before{
  top:216px;
  left:-75px;
}
#news .lineLeft2 .centerBox{
  top:214px;
  left:-2px;
}
#news .lineLeft3::after{
  top: 490px; 
  left: 309px;  
}
#news .lineLeft3::before{
  top: 464px; 
  left: 280px; 
}
#news .lineLeft3 .centerBox{
  top:462px;
  left:306px;
}
#news .lineLeft4::after{
  top:334px;
  left:-99px;
}
#news .lineLeft4::before{
  top:308px;
  left:-70px;
}
#news .lineLeft4 .centerBox{
  top:306px;
  left:-2px;
}

/* summary */
#summary .lineLeft::after,#summary .lineLeft::before{
  width:100px;
  height:1px;
}
#summary .lineLeft::after{
  top:68px;
  left:124px;
}
#summary .lineLeft::before{
  top:39px;
  left:100px;
}
#summary .lineLeft .centerBox{
  width:6px;
  height:6px;
  top:36px;
  left:121px;
}
#summary .lineLeft2::before{
  top:98px;
  left:104px;
}
#summary .lineLeft2 .centerBox{
  top:95px;
}
/* footer */
#footer .lineLeft{
  display: none;;
}














}